body {
  /*text-align: center;*/
  font-family: 'Indie Flower';
  overflow:auto;
	background-color: #E4FFFF;
	background-image: -webkit-radial-gradient(70%, circle, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.1) 40%);
	background-image: -moz-radial-gradient(70%, circle, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.1) 40%);
	background-image: -ms-radial-gradient(70%, circle, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.1) 40%);
	background-image: -o-radial-gradient(70%, circle, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.1) 40%);
}

.time_name {
  display: block;
  width: 50%;
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: pink;
  font-size: 20px;
}

.time_time {
  display: block;
  text-align: right;
  width: 50%;
  float: left;
  font-size: 60px;
  bottom: 0;
}

.time_container {
  clear: both;
  height: 70px;
  position: relative;
}

#hours {
  color:#B1C27A;
}

#minutes {
  color:#D1C68F;
}

#seconds {
  color:#9FA3E3;
}

#days {
  color:#51C0BF;
}
