body {
  /*text-align: center;*/
  font-family: 'Indie Flower';
  overflow:auto;
	background-color: #F0FFFF;
  text-align: center;
  margin: auto;
	/*background-image: -webkit-radial-gradient(70%, circle, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.1) 40%);
	background-image: -moz-radial-gradient(70%, circle, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.1) 40%);
	background-image: -ms-radial-gradient(70%, circle, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.1) 40%);
	background-image: -o-radial-gradient(70%, circle, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.1) 40%);*/
}

.time_name {
  color: pink;
  font-size: 30px;
  width: 80px;
  float: left;
  margin-top: 60px;
  margin-right: 10px;
  bottom: 0px;
}

.time_time {
  font-size: 96px;
  float: left;
  width: 120px;
}

.time_container {
  clear: both;
  height: 110px;
  width: 900px;
  text-align: center;
  margin: 0 auto;
}

div#picture{
  text-align:center
}

#hours {
  color:#B1C27A;
}

#minutes {
  color:#D1C68F;
}

#seconds {
  color:#9FA3E3;
}

#days {
  color:#51C0BF;
}
