html{
  height: 100%;
}

body{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Indie Flower';
	background-color: #333333;
}

.time_name {
  color: white;
  font-size: 2em;
  margin: 0em 1em 0em 1em;
}

.time_time {
  font-size: 5em;
  width: auto;
  color:yellow;
}

.time_container {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: baseline;
}
